#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath \
	--disable-doc \
	--host=$(DEB_HOST_GNU_TYPE)

DEB_DH_STRIP_ARGS := --dbg-package=libembryo-dbg
DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean
CFLAGS += -fvisibility=hidden
LDFLAGS += -fvisibility=hidden

clean::
	[ ! -f Makefile ] || make distclean
	rm -f embryo-*.tar.* embryo-*.cdbs-config_list
	[ ! -f debian/control.orig ] || mv -f debian/control.orig debian/control

binary-install/libembryo-dev::
	[ -f debian/control.orig ] || cp debian/control debian/control.orig
ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	sed -ie 's,Section: .*,Section: host/tools,g' $(CURDIR)/debian/control
else
	sed -ie 's,Section: host/tools,Section: core,g' $(CURDIR)/debian/control
endif
